﻿@model EstructuraProgramacion_2.Models.Persona

@{
    Layout = "~/Views/Shared/_LayoutLimpia.cshtml";
    ViewBag.Title = "Login";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container row6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class=" col s12 m6 offset-m3">
            <h2 class="blue-grey-text">VIRUS KILLER</h2>
            <div class="input-field">
                @Html.LabelFor(model => model.usuario)
                @Html.EditorFor(model => model.usuario)
                @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
            </div>

            <div class="input-field">
                @Html.LabelFor(model => model.clave, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.clave, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn" />
                    @Html.ActionLink("Registro", "Create", "Personas", null, new { Class = "btn blue-grey" })
                </div>
            </div>

        </div>
    </div>
}


