﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row col s12">

    <br>
    <div class="input-field col s6">
        <label for="palabra2">Palabra 1</label>
        <input type="text" name="palabra1"id="palabra1" />
    </div>
    <div class="input-field col s6">
        <label for="palabra2">Palabra 2</label>
        <input type="text" name="palabra2" id="palabra2" />
    </div>

    <div class="col-md-offset-2 col s12">
        <button class="btn-floating btn-large waves-effect waves-light submit">
            <i class="material-icons">done</i>
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".submit").click(function () {
            $.post("/Taller11/letrasIguales", { primero: $("#palabra1").val(), segundo: $("#palabra2").val() }, function (data) {
                Materialize.toast(data, 4000);
            })
        })

    })
</script>