﻿@using EstructuraProgramacion_2.Models
@using EstructuraProgramacion_2.Models.Enumeradores
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>



    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">E. Programacion 2</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav menu" id="mobile-demo">
                <li><a href="/Taller3/Index">Taller 3</a></li>
                <li><a href="/Taller4/Index">Taller 4</a></li>
                <li><a href="/Taller5/Index">Taller 5</a></li>
                <li><a href="/Taller6/Index">Taller 6</a></li>
                <li><a href="/Taller7/Index">Taller 7</a></li>
                <li><a href="/Taller8/Index">Taller 8</a></li>
                <li><a href="/Taller9/Index">Taller 9</a></li>
                <li><a href="/Taller10/Index">Taller 10</a></li>
                <!-- Dropdown Trigger -->
                <li id="dropDownMenu">

                </li>

            </ul>



        </div>
    </nav>
    <br /><br />
    <div class="container body-content">
        <div id="contenidoDropDown">
            <a class="dropdown-button" href="#!" data-activates="dropdown1">Virus Killer<i class="material-icons right">arrow_drop_down</i></a>            <ul id="dropdown1" class="dropdown-content">
                @if (Acceso.AlloAccess(EnumRol.Admin))
                {
                    <li><a href="/Virus/Index">Virus</a></li>
                                <li><a href="/Virus/CalcularVacunas">Ranking</a></li>
                }
                <li><a href="/Patrones/Index">Patrones</a></li>
            </ul>
        </div>

        @RenderBody()


    </div>
    <script src="~/Scripts/main.js"></script>
</body>

</html>
