﻿@model EstructuraProgramacion_2.Models.Patrones

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Patrones</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="input-field">
            <label for="PatronAgregar">Agregar un patron</label>
            <input type="text"maxlength="1"id="patronAAgregar"/>
            <button class="btn"type="button"id="agregarPatron">Agregar patron</button>
        </div>

        <div class="">
            @Html.LabelFor(model => model.Patron, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Patron, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.Patron, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
                @Html.ActionLink("Volver", "Index", null, new { Class = "btn" })


            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $("#patronAAgregar").keyup(function () {
            $(this).val($(this).val().toUpperCase());
        });

        $("#Patron").keydown(function (e) {
            e.preventDefault();
        });

        $("#agregarPatron").click(function () {
            if ($("#Patron").val().length < 19 && $("#patronAAgregar").val().length ==1 ) {
                var patron = $("#patronAAgregar").val();
                if ($("#Patron").val() != "")
                    patron = "," + patron;
                $("#Patron").val($("#Patron").val() + patron);
            }

        });
    });
</script>
