﻿@model IEnumerable<EstructuraProgramacion_2.Models.Patrones>

@{
    ViewBag.Title = "Index";
}

<h2>Patrones</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { Class="btn"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patron)
        </th>
        <th>
            Autor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(r=>r.Persona.IdPersona).ThenByDescending(r=>r.Fecha))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patron)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>

        </tr>
    }

</table>
