﻿

<div id="cuadrado"></div>

<div class="chip forClone green white-text">

</div>


<form class="container row" style="height:100%">
    <div class="input-field col s10">
        <input min="1" id="number" type="number" class="validate" step="1" required>
        <label for="number" data-error="n > 1 y entero" data-success="Ok!">Número</label>

    </div>
    <div class="col s2">
        <button type="submit" id="agregar" class="btn-floating btn-large waves-effect waves-light ">
            <i class="material-icons">done</i>
        </button>
    </div>
    <br /><br />
    <div class="col s12 contenedorMultiplos"></div>

</form>


<style>
    #cuadrado{
        background-color:blue;
        width:50px;
        height:50px;
        position:absolute;
    }

    .forClone{
        display:none;
    }

    .chip{
        margin:5px;
    }
</style>
<script>
    $(document).ready(function () {
        var t = 0;
        girar();
        function girar() {
            t += 0.05;

            var r = 100;
            var xcenter = 100;
            var ycenter = 100;
            var posicionHorizontal = Math.floor(xcenter + (r * Math.cos(t)));
            var posicionVertical = Math.floor(ycenter + (r * Math.sin(t)));
            $('#cuadrado').animate({
                top: posicionVertical,
                left: posicionHorizontal,
            }, 1, function () {
                girar();
            });
        }

        /*++++++++++++++++++++++++++++ formulario ++++++++++++++++++++++++++++++++++*/
        $("form").submit(function (e) {
            e.preventDefault();
            $(".contenedorMultiplos").html("");
            var numero = parseInt($("#number").val());
            for (var q = 2; q < numero; q++) {
                if (q % 5 == 0) {
                    $(".contenedorMultiplos").append($(".forClone").clone().text(q).removeClass("forClone"));
                }
            }
        });


    });
</script>