﻿@model IEnumerable<EstructuraProgramacion_2.Models.Patrones>

@{
    ViewBag.Title = "Ranking";
}

<h2>RANKING</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patron)
        </th>
        <th>
            Autor
        </th>
        <th>
            Virus Eliminados
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.OrderByDescending(r => r.VirusEliminados).ThenBy(r => r.Patron.Length).ThenBy(r => r.Fecha))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patron)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @item.VirusEliminados.Value
            </td>
            <td>
                @if (item.VirusTotalmenteEliminado != null)
                {
                    <span>Virus Erradicado</span>
                }
            </td>

        </tr>
    }

</table>
