﻿@model EstructuraProgramacion_2.Models.Virus

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post"enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Virus</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="file-field input-field">
            <div class="btn">
                <span>Archivo</span>
                <input type="file"name="patronTxt"required>
                @Html.ValidationMessageFor(model => model.Patron, "", new { @class = "text-danger" })


            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
                @Html.ActionLink("Volver", "Index", null, new { Class = "btn" })
            </div>
        </div>
    </div>
</form>
