﻿@model EstructuraProgramacion_2.Models.Virus

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<div>
    <h4>Virus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patron)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patron)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index",null, new { Class = "btn" })
        </div>
    }
</div>
