﻿@model EstructuraProgramacion_2.Models.Virus

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Virus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patron)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patron)
        </dd>

        <dt>

            @{
                string valor=string.Empty;
                if (Model.Activo) {
                    valor = "checked";
                }
            }

            <input type="checkbox" id="Activo" name="Activo" value="@Model.Activo" disabled @Html.Raw(valor)/>
            <label for="Activo">Activo</label>


        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            Creador del Virus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdVirus }, new { Class = "btn" })
    @Html.ActionLink("Volver", "Index", null, new { Class = "btn" })
</p>
