﻿@model EstructuraProgramacion_2.Models.Virus

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Virus</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdVirus)

        <div class="form-group">
            @Html.LabelFor(model => model.Patron, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Patron, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Patron, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @{
                string valor = string.Empty;
                if (Model.Activo)
                {
                    valor = "checked";
                }
            }

            <input type="checkbox" id="Activo" name="Activo" @Html.Raw(valor) />
            <label for="Activo">Activo</label>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-default" />
                @Html.ActionLink("Volver", "Index", null, new { Class = "btn" })


            </div>
        </div>
    </div>
}
