﻿@model IEnumerable<EstructuraProgramacion_2.Models.Virus>
@using EstructuraProgramacion_2.Models
@using EstructuraProgramacion_2.Models.Enumeradores
@{
    ViewBag.Title = "Index";
}

<h2>Virus</h2>

<p>
    @Html.ActionLink("Crear nuevo Virus", "Create",null, new { Class = "btn" })
    @Html.ActionLink("Ver Ranking", "CalcularVacunas", null, new { Class = "btn" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @if(item.Activo){
                <span>Virus Actual</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdVirus },new { Class="btn"})
            @Html.ActionLink("Detalles", "Details", new { id=item.IdVirus }, new { Class = "btn" }) 
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdVirus }, new { Class = "btn" })
        </td>
    </tr>
}

</table>
