﻿<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/controller.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div ng-app="App" ng-controller="getPeople" class="row col s12">

    <div class="collection col s6">
        <h4 class="collection-header orange-text">Personas Desde JSON</h4>

        <a href="#!"class="collection-item avatar " ng-repeat="person in people"ng-if="person.Old>17">
            <i class="material-icons circle orange">perm_identity</i>
            <span class="title">{{person.Name}}</span> {{person.Old}}
            <p>
                {{person.Old}}
            </p>
        </a>
    </div>
    <div class="col s6">
        <div class="col s12">
            <h4 class="collection-header orange-text">Calcular Impares</h4>
            <div class="input-field col s10">
                <input name="a" class="validate" type="number" step="1" ng-model="a" ng-change="calcular()" />
                <label for="a">Número inicial</label>

            </div>

            <div class="input-field col s10">
                <input name="b" class="validate" type="number" step="1" ng-model="b" ng-change="calcular()" />
                <label for="b">Número final</label>
            </div>
        </div>
        <div class="chip"ng-repeat="impar in impares">
            {{impar}}
            <i class="close material-icons">close</i>
        </div>
    </div>


</div>


