
@using (Html.BeginForm("Index", "Taller8", FormMethod.Post, new { @Class = "row" }))
{
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-field col s6">
            <label for="radio">Radio</label>
            <input type="number"name="radio" />
        </div>

        <div class="col-md-offset-2 col s12">
            <button type="submit" class="btn-floating btn-large waves-effect waves-light ">
                <i class="material-icons">done</i>
            </button>
        </div>

        @if (ViewBag.radio != null) { 
            <div class="row">
                
                <div class="col s4">
                    PHP:
                    <iframe class="col s12"src="http://universidad.desarrollosahora.com/others/php.php?radio=@ViewBag.radio"></iframe>
                </div>

                <div class="col s4">
                    ASP MVC .NET C#:
                    <iframe class="col s12" src="/Taller8/asp?radio=@ViewBag.radio"></iframe>
                </div>

                <div class="col s4">
                    JSP:
                    <iframe class="col s12" src="http://localhost:8080/Esfera.jsp?radio=@ViewBag.radio"></iframe>
                </div>

            </div>
        }
    </div>

}