﻿@model EstructuraProgramacion_2.Models.PersonaTaller10

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row col s12">

        <br>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-field col s6">
            <label for="Id">Cedula</label>
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
        </div>
        <div class="input-field col s6">
            <label for="Name">Nombre</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-offset-2 col s12">
            <button type="submit" class="btn-floating btn-large waves-effect waves-light ">
                <i class="material-icons">done</i>
            </button>
        </div>
    </div>
}

@if (ViewBag.PersonasRepetidas != null)
{
    <br>
    <table class="col s12 s3">
        <thead>
            <tr>
                <th>
                    Personas Repetidas
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (string nombre in (List<string>)ViewBag.PersonasRepetidas)
            {
                <tr><td>@nombre</td></tr>
            }
            <tr></tr>
        </tbody>
    </table>

}
<div>

</div>
