﻿@model EstructuraProgramacion_2.Models.Nino
@using EstructuraProgramacion_2.Models

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Crear Niño</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control",Type="number" } })
                @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="">
            <label for="IdRol">Juguete</label>
            <select id="SelectorJuguete">
                @foreach (MarcaJuguete jug in (List<MarcaJuguete>)ViewBag.ListaJuguetes)
                {
                    <option value="@jug.Id">@jug.Nombre</option>
                }
            </select>
            <button type="button"class="btn"id="BotonAgregarJuguete">Agregar</button>
        </div>

        <input type="hidden"name="idJuguete"id="idJuguete" />

        <ul id="ListaJuguetes"class="collection">
            
        </ul>

        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
                @Html.ActionLink("Volver", "Index", null, new { Class = "btn" })
            </div>
        </div>
    </div>
}

<div>
</div>

<script>
    $(document).ready(function () {
        $("#BotonAgregarJuguete").click(function () {
            var seleccionado = $("#SelectorJuguete").find("option:selected");
            $("#ListaJuguetes").append("<li class='collection- item'>" + $(seleccionado).text() + "</li>");

            var juguetesAgregados = $("#idJuguete");

            if ($(juguetesAgregados).val() != "") {
                $(juguetesAgregados).val($(juguetesAgregados).val() + ",");
            }

            $(juguetesAgregados).val($(juguetesAgregados).val() + $(seleccionado).val());
        });
    });
</script>