﻿@model IEnumerable<EstructuraProgramacion_2.Models.Nino>
@using EstructuraProgramacion_2.Models
@{
    ViewBag.Title = "Index";
}

<h2>Listado de Niños</h2>

<p>
    @Html.ActionLink("Crear Niño", "Create", null, new { Class = "btn" })
    @Html.ActionLink("Ver solo niños con juguetes", "Index", new { soloNinoConJuguetes =true}, new { Class = "btn" })
    @Html.ActionLink("Ver todos los niños", "Index", new { soloNinoConJuguetes = false }, new { Class = "btn" })


</p>

@if (ViewBag.JugueteMasRepetido != null)
{
    <h5>
        <b>Juguete mas repetido:</b> @ViewBag.JugueteMasRepetido
    </h5>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Juguetes
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.NinoJuguete.Count() > 0)
                {
                    <ul class="collection">

                        @foreach (var jug in item.NinoJuguete.GroupBy(r=>r.MarcaJuguete))
                        {
                            <li class="collection-item">@jug.Key.Nombre x @jug.Count()</li>
                        }

                    </ul>
                }
            </td>
        </tr>
    }

</table>
