﻿@model EstructuraProgramacion_2.Models.Persona


@using (Html.BeginForm("Index", "Taller7", FormMethod.Post, new { @Class = "row" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Punto 1 (@ViewBag.Mensaje) y 2</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="input-field col s6">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "validate" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="input-field col s6">
            @Html.LabelFor(model => model.LlastName)
            @Html.EditorFor(model => model.LlastName, new { htmlAttributes = new { @class = "validate" } })
            @Html.ValidationMessageFor(model => model.LlastName, "", new { @class = "text-danger" })
        </div>

        <div class="input-field col s6">
            @Html.LabelFor(model => model.BornDate)
            @{ 
                string fecha = DateTime.Now.ToString("dd/MM/yyyy");
                if (Model != null)
                {
                    fecha = Model.BornDate.ToString("dd/MM/yyyy");
                }
            }
            @Html.EditorFor(model => model.BornDate, new { htmlAttributes = new { @class = "validate datepicker", Type = "date",data_value= fecha } })
            @Html.ValidationMessageFor(model => model.BornDate, "", new { @class = "text-danger" })
        </div>

        <div class="input-field col s6">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "validate" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-offset-2 col s12">
            <button type="submit" class="btn-floating btn-large waves-effect waves-light ">
                <i class="material-icons">done</i>
            </button>
        </div>
    </div>

}

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 100, // Creates a dropdown of 15 years to control year
        format: 'dd/mm/yyyy'
    });
</script>