
<form class="row col s6" action="/Taller6/Punto2" method="post">
    <div class="input-field col s10">
        <input id="texto" name="texto" type="text" class="validate" required>
        <label for="texto">Texto</label>
        @if (ViewBag.CantidadPalabras != null)
        {
            <span>Cantidad de palabras: @ViewBag.CantidadPalabras</span>
        }
    </div>
    <div class="col s2">
        <button type="submit" id="calcular" class="btn-floating btn-large waves-effect waves-light ">
            <i class="material-icons">done</i>
        </button>
    </div>
    <br /><br />

</form>

<form action="/Taller6/Punto2" method="post">
    <input type="hidden" name="mostrar" value="true" />
    <div class="col s2">
        <button type="submit" id="calcular" class="btn-floating btn-large waves-effect waves-light ">
            <i class="material-icons">search</i>
        </button>
    </div>

</form>

@if (ViewBag.Nombres != null)
{
    <ul>
        @foreach (string n in (List<string>)ViewBag.Nombres)
        {
            <li>@n</li>
        }
    </ul>
}